<!-- FAB -->
<md-button class="md-fab tbFAB" aria-label="Create new batch">
    <ng-md-icon icon="group_add" style="fill:white;" size="32"></ng-md-icon>
</md-button>

<!-- Loading indicator -->
<md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>

<!-- Panel Group -->
<h3> 3 Batches </h3>
<h3> 3 Batches </h3>
<h3> 3 Batches </h3>
<h3> 3 Batches </h3>
<h3> 3 Batches </h3>
<md-expansion-panel-group md-component-id="panelGroup" multiple>
<md-expansion-panel ng-repeat="batch in batches">
  <md-expansion-panel-collapsed>
    <div class="md-title">{{batch.name}}</div>
    <div class="md-summary">{{batch.subject}}</div>
    <md-expansion-panel-icon></md-expansion-panel-icon>
  </md-expansion-panel-collapsed>
  <md-expansion-panel-expanded>
    <md-expansion-panel-header>
      <div class="md-title">{{batch.name}}</div>
      <div class="md-summary">{{batch.subject}}</div>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-header>
    <md-expansion-panel-content>
      <h4>Address</h4>
      <p>{{batch.address_text}}</p>
    </md-expansion-panel-content>
    <md-expansion-panel-footer>
      <div flex></div>
      <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
    </md-expansion-panel-footer>
  </md-expansion-panel-expanded>
</md-expansion-panel>
</md-expansion-panel-group>