.tbAppContainer {
    height: 100%;
}

.tbFAB {
    position: fixed;
    padding-top: 10px;
    right: 10px;
    bottom: 10px;
}

.tbView {
    margin: 40px;
}

.tbTableRowLoading {
    opacity: 0.2;
}

.tbNavItemSelected {
    background: #e0e5ff;
}

.tbClickablePanelHeader {
    cursor: pointer;
    cursor: hand;
}

.tbInputClearRight {
    padding-right: 30px;
}

.tbFormHeadingClearBottom {
    margin-bottom: 30px;
}

.tbNoDataText {
    font-weight: 500;
}

.tbTableContainer {
    background-color: white;
}

.md-column span {
    font-size: 16px;
}

.md-table .md-cell {
    font-size: 15px !important;
}

.tbTableToolbarDropdown {
    margin-top: 28px;
    font-size: 17px;
}

.tbTableToolbarRowsSelected {
    background-color: rgba(1, 62, 208, 0.18)
}

.tbTableToolbarRowsSelected .md-icon-button {
    margin-bottom: 8px !important;
}