Some overview (possibly including a calendar view of upcoming classes) goes here.
<br/>
<br/>
<h1> For testing </h1>
Click the button below to create a 'Tutor' profile for yourself. This is not automatically done while logging in/registering for the first time, as the user can be a tutor (quotas can apply, like number of batches you can create for free) or a student (no quotas on available functionality). Features usable by tutors will not work until you have done this!
<br/><md-button class="md-raised md-primary" ng-click="createTutorProfile()">Create tutor profile</md-button>