<!DOCTYPE html>
<html ng-app="dashboardApp">
    <head>
        <!-- SCROLLS -->
        <!-- load bootstrap and fontawesome via CDN -->
        <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" /> -->

        <!-- SPELLS -->
        <!-- load angular and angular route via CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script>

        <!-- Load app resources -->
        <script src="dashboard/shared/services/apiConnector.js"></script>
        <script src="dashboard/shared/services/userService.js"></script>
        <script src="dashboard/shared/services/batchService.js"></script>
        <script src="dashboard/shared/services/paymentService.js"></script>
        <script src="dashboard/components/overview/overview.js"></script>
        <script src="dashboard/components/payments/payments.js"></script>
        <script src="dashboard/components/batches/batches.js"></script>
        <script src="dashboard/components/batch-details/batchDetails.js"></script>
        <script src="dashboard/app.js"></script>

        <!-- Angular Material-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/md-data-table/1.8.0/md-data-table-style.css">
        <link rel="stylesheet" href="dashboard/assets/css/md-expansion-panel.min.css">
        <link rel="stylesheet" href="dashboard/assets/css/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="dashboard/assets/js/md-expansion-panel-min.js"></script>

        <script src="dashboard/assets/js/md-data-table.js"></script>
         <link rel="stylesheet" href="dashboard/assets/css/md-data-table.css">


        <!-- Additional Angular libraries required for Angular-Material -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-messages.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>


        <!-- More JS libraries -->
        <script src="dashboard/assets/js/moment.min.js"></script>

        <!-- Google Ads -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <title>Tutor Buddy (alpha)</title>

        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    </head>

    <body>
        <div ng-controller="appController" layout="column" class="tbAppContainer" ng-cloak>
          <section layout="row" flex>
            <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Menu</h1>
                </md-toolbar>
                <md-content>
                    <md-list flex>
                        <md-list-item ng-class="{tbNavItemSelected: (currentRoute === navItem.navTarget)}" class="md-3-line" ng-repeat="navItem in navItems" ng-click="navigate(navItem.navTarget)">
                            <ng-md-icon icon="{{navItem.icon}}" class="md-avatar" alt="{{navItem.primaryText}}"></ng-md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3>{{navItem.primaryText}}</h3>
                                <p>{{navItem.secondaryText}}</p>
                            </div>
                        </md-list-item>
                    </md-list>


                    <!-- Ads -->
                    <div style="margin: 20px;" id="googleAdContainer">
                    </div>
                </md-content>
            </md-sidenav>

            <md-content flex>
                <md-toolbar class="md-hue-2">
                      <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                            <ng-md-icon icon="dehaze" style="fill:white;"></ng-md-icon>
                        </md-button>

                        <h2 flex md-truncate>{{viewTitle}}</h2>

                        <h3>{{userName}}</h3>

                        <md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
                          <ng-md-icon icon="logout" style="fill:white;"></ng-md-icon>
                        </md-button>
                      </div>
                </md-toolbar>
                <div ng-view class="tbView"></div>

            </md-content>

            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

              <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
              </md-toolbar>
              <md-content ng-controller="rightController" layout-padding>
                <form>
                  <md-input-container>
                    <label for="testInput">Test input</label>
                    <input type="text" id="testInput"
                           ng-model="data" md-autofocus>
                  </md-input-container>
                </form>
                <md-button ng-click="close()" class="md-primary">
                  Close Sidenav Right
                </md-button>
              </md-content>

            </md-sidenav>

          </section>

        </div>
    </body>
</html>